[Desktop Entry]
Version=1.0
Name=Xfce Terminal
Name[ar]=طرفية إكسفس
Name[ast]=Terminal Xfce
Name[be]=Тэрмінал Xfce
Name[bg]=Xfce Терминал
Name[ca]=Terminal de Xfce
Name[cs]=Terminál Xfce
Name[da]=Xfce Terminal
Name[de]=Xfce-Terminal
Name[el]=Τερματικό Xfce
Name[en_AU]=Xfce Terminal
Name[en_GB]=Xfce Terminal
Name[eo]=Xfce-terminalo
Name[es]=Terminal de Xfce
Name[et]=Xfce terminal
Name[eu]=Xfce terminala
Name[fa_IR]=پایانهٔ Xfce
Name[fi]=Xfce-pääte
Name[fr]=Terminal Xfce
Name[gl]=Terminal Xfce
Name[he]=מסוף Xfce
Name[hr]=Xfce terminal
Name[hu]=Xfce terminál
Name[hy_AM]=Xfce վահանակ
Name[hye]=Xfce վահանակ
Name[id]=Terminal Xfce
Name[ie]=Terminal de Xfce
Name[is]=Xfce skjáhermir
Name[it]=Terminale di Xfce
Name[ja]=Xfce 端末
Name[kk]=Xfce Terminal
Name[ko]=Xfce 터미널
Name[lt]=Xfce terminalas
Name[ms]=Terminal Xfce
Name[nb]=Xfce-terminal
Name[nl]=Xfce-terminalvenster
Name[oc]=Terminal Xfce
Name[pl]=Terminal Xfce
Name[pt]=Terminal Xfce
Name[pt_BR]=Xfce Terminal
Name[ro]=Terminal Xfce
Name[ru]=Терминал Xfce
Name[sk]=Terminál Xfce
Name[sl]=Xfce terminal
Name[sq]=Terminal Xfce
Name[sr]=Терминал ИксФЦЕ-а
Name[sv]=Xfce terminal
Name[th]=เทอร์มินัลของ Xfce
Name[tr]=Xfce Uçbirim
Name[ug]=Xfce تېرمىنالى
Name[uk]=Термінал XFCE
Name[zh_CN]=Xfce 终端
Name[zh_TW]=Xfce 終端機
Comment=Terminal Emulator
Comment[ar]=محاكي طرفية
Comment[ast]=Emulador de terminal
Comment[be]=Эмулятар тэрмінала
Comment[bg]=Терминален Емулатор
Comment[ca]=Emulador de terminal
Comment[cs]=Emulátor terminálu
Comment[da]=Terminalemulator
Comment[de]=Terminal-Programm
Comment[el]=Ρυθμίσεις τερματικού XFCE
Comment[en_AU]=Terminal Emulator
Comment[en_GB]=Terminal Emulator
Comment[eo]=Terminala Simulilo
Comment[es]=Emulador de terminal
Comment[et]=Terminaliemulaator
Comment[eu]=Terminal emuladorea
Comment[fa_IR]=شبیه‌ساز پایانه
Comment[fi]=Pääte-emulaattori
Comment[fr]=Émulateur de terminal
Comment[gl]=Emulador de terminal
Comment[he]=מדמה מסוף
Comment[hr]=Emulator terminala
Comment[hu]=Terminálemulátor
Comment[hy_AM]=Վերիրային վահանակ
Comment[hye]=Վերիրային վահանակ
Comment[id]=Emulator Terminal
Comment[ie]=Emulator de Terminal
Comment[is]=Skjáhermir
Comment[it]=Emulatore di terminale
Comment[ja]=端末エミュレーター
Comment[kk]=Терминал эмуляторы
Comment[ko]=터미널 에뮬레이터
Comment[lt]=Terminalo emuliatorius
Comment[lv]=Termināļa emulators
Comment[ms]=Emulator Terminal
Comment[nb]=Teminalemulator
Comment[nl]=Terminalvenster
Comment[oc]=Emulator de terminal
Comment[pa]=ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
Comment[pl]=Emuluje działanie terminala X
Comment[pt]=Emulador de terminal
Comment[pt_BR]=Emulador de terminal
Comment[ro]=Emulator de terminal
Comment[ru]=Эмулятор терминала
Comment[si]=අග්‍ර අනුකාරක
Comment[sk]=Terminál Emulátor
Comment[sl]=Posnemovalnik terminala
Comment[sq]=Emulues Terminali
Comment[sr]=Опонашач терминала
Comment[sv]=Terminalemulator
Comment[te]=టెర్మినల్ ఎమ్యులేటర్
Comment[th]=โปรแกรมจำลองเทอร์มินัล
Comment[tr]=Uçbirim Öykünücüsü
Comment[ug]=تېرمىنال Emulator
Comment[uk]=Емулятор терміналу
Comment[ur]=ٹرمنل ایمولیٹر
Comment[ur_PK]=ٹرمنل ایمولیٹر
Comment[vi]=Trình giả lập Terminal
Comment[zh_CN]=终端模拟器
Comment[zh_TW]=終端機程式
GenericName=Terminal Emulator
GenericName[ar]=محاكي طرفية
GenericName[ast]=Emulador de terminal
GenericName[be]=Эмулятар тэрмінала
GenericName[bg]=Терминален Емулатор
GenericName[ca]=Emulador de terminal
GenericName[cs]=Emulátor terminálu
GenericName[da]=Terminalemulator
GenericName[de]=Terminal-Programm
GenericName[el]=Ρυθμίσεις τερματικού XFCE
GenericName[en_AU]=Terminal Emulator
GenericName[en_GB]=Terminal Emulator
GenericName[eo]=Terminala Simulilo
GenericName[es]=Emulador de terminal
GenericName[et]=Terminaliemulaator
GenericName[eu]=Terminal emuladorea
GenericName[fa_IR]=شبیه‌ساز پایانه
GenericName[fi]=Pääte-emulaattori
GenericName[fr]=Émulateur de terminal
GenericName[gl]=Emulador de terminal
GenericName[he]=מדמה מסוף
GenericName[hr]=Emulator terminala
GenericName[hu]=Terminálemulátor
GenericName[hy_AM]=Վերիրային վահանակ
GenericName[hye]=Վերիրային վահանակ
GenericName[id]=Emulator Terminal
GenericName[ie]=Emulator de Terminal
GenericName[is]=Skjáhermir
GenericName[it]=Emulatore di terminale
GenericName[ja]=端末エミュレーター
GenericName[kk]=Терминал эмуляторы
GenericName[ko]=터미널 에뮬레이터
GenericName[lt]=Terminalo emuliatorius
GenericName[lv]=Termināļa emulators
GenericName[ms]=Emulator Terminal
GenericName[nb]=Teminalemulator
GenericName[nl]=Terminalvenster
GenericName[oc]=Emulator de terminal
GenericName[pa]=ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
GenericName[pl]=Emuluje działanie terminala X
GenericName[pt]=Emulador de terminal
GenericName[pt_BR]=Emulador de terminal
GenericName[ro]=Emulator de terminal
GenericName[ru]=Эмулятор терминала
GenericName[si]=අග්‍ර අනුකාරක
GenericName[sk]=Terminál Emulátor
GenericName[sl]=Posnemovalnik terminala
GenericName[sq]=Emulues Terminali
GenericName[sr]=Опонашач терминала
GenericName[sv]=Terminalemulator
GenericName[te]=టెర్మినల్ ఎమ్యులేటర్
GenericName[th]=โปรแกรมจำลองเทอร์มินัล
GenericName[tr]=Uçbirim Öykünücüsü
GenericName[ug]=تېرمىنال Emulator
GenericName[uk]=Емулятор терміналу
GenericName[ur]=ٹرمنل ایمولیٹر
GenericName[ur_PK]=ٹرمنل ایمولیٹر
GenericName[vi]=Trình giả lập Terminal
GenericName[zh_CN]=终端模拟器
GenericName[zh_TW]=終端機程式
Keywords=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;
Keywords[bg]=терминал;команден ред;подкана;cli;cmd;xterm;bash;shell;dos;
Keywords[ca]=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;
Keywords[da]=terminal;kommandolinje;prompt;cli;cmd;xterm;bash;skal;dos;
Keywords[de]=Terminal;Befehlszeile;Eingabeaufforderung;cli;cmd;xterm;bash;shell;dos;
Keywords[el]=τερματικό;γραμμή εντολών;νέα γραμμή εντολών;cli;cmd;xterm;bash;κέλυφος;dos;
Keywords[en_GB]=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;
Keywords[es]=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;
Keywords[et]=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;käsurida;konsool;
Keywords[fr]=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;ligne de commande;
Keywords[he]=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;
Keywords[it]=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;
Keywords[ja]=ターミナル;command line;prompt;cli;cmd;xterm;bash;shell;dos;
Keywords[ko]=terminal;터미널;command line;명령행;명령줄;prompt;프롬프트;cli;cmd;명령;xterm;bash;배시;shell;셸;dos;도스;
Keywords[lt]=terminalas;komandų eilutė;komandu eilute;komandos eilutė;komandos eilute;užklausa;uzklausa;cli;cmd;xterm;bash;shell;apvalkalas;dos;
Keywords[nb]=terminal;kommandolinje;cli;cmd;xterm;bash;skall;shell;dos
Keywords[nl]=terminal;opdrachtregel;prompt;cli;cmd;xterm;bash;shell;dos;
Keywords[pl]=terminal;wiersz poleceń;monit;cli;cmd;xterm;bash;shell;powłoka;dos;
Keywords[pt]=terminal;linha de comandos;prompt;cli;cmd;xterm;bash;shell;dos;
Keywords[pt_BR]=terminal;linha de comando;prompt;cli;cmd;xterm;bash;shell;dos;
Keywords[ru]=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;терминал;командная строка;консоль;
Keywords[sl]=terminal;ukazma vrstica;vnosnik;cli;cmd;xterm;bash;lupina;dos;
Keywords[sq]=terminal;rresht urdhrash;promtp;cli;cmd;xterm;bash;shell;dos;
Keywords[sr]=терминал;наредбена линија;командна линија;упит;цмд;баш;љуска;шкољка;дос;
Keywords[sv]=terminal;kommandorad;prompt;cli;cmd;xterm;bash;skal;dos;
Keywords[tr]=terminal;uçbirim;komut;komut satırı;prompt;istem;cli;cmd;xterm;bash;shell;dos;
Keywords[uk]=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;
Keywords[zh_CN]=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;终端;命令行;
Keywords[zh_TW]=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;
Exec=xfce4-terminal
Icon=org.xfce.terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
Actions=preferences;

[Desktop Action preferences]
Name=Terminal Preferences
Name[ar]=تفضيلات الطرفية
Name[ast]=Preferencies del terminal
Name[be]=Налады тэрмінала
Name[bg]=Настройки на терминала
Name[ca]=Preferències del terminal
Name[cs]=Nastavení aplikace Terminal
Name[da]=Terminal-præferencer
Name[de]=Einstellungen
Name[el]=Προτιμήσεις τερματικού
Name[en_AU]=Terminal Preferences
Name[en_GB]=Terminal Preferences
Name[eo]=Agordoj de Terminalo
Name[es]=Preferencias del terminal
Name[et]=Terminali eelistused
Name[eu]=Terminal hobespenak
Name[fa_IR]=ترجیحات پایانهٔ
Name[fi]=Päätteen asetukset
Name[fr]=Préférences
Name[gl]=Preferencias do Terminal
Name[he]=העדפות מסוף
Name[hr]=Osobitosti terminala
Name[hu]=Terminál beállításai
Name[hy_AM]=Վահանակի կարգաւորումներ
Name[hye]=Վահանակի կարգաւորումներ
Name[id]=Pengaturan Terminal
Name[ie]=Preferenties del Terminal
Name[is]=Kjörstillingar skipanalínu
Name[it]=Preferenze di Terminale
Name[ja]=端末の設定
Name[kk]=Терминал баптаулары
Name[ko]=터미널 기본 설정
Name[lt]=Terminalo nuostatos
Name[lv]=Termināļa uzstādījumi
Name[ms]=Keutamaan Terminal
Name[nb]=Terminalinnstillinger
Name[nl]=Terminalvenster-voorkeuren
Name[oc]=Preferéncias
Name[pa]=ਟਰਮੀਨਲ ਪਸੰਦ
Name[pl]=Preferencje
Name[pt]=Preferências do Terminal
Name[pt_BR]=Preferências do terminal
Name[ro]=Preferințe pentru Terminal
Name[ru]=Настройки Терминала
Name[si]=අග්‍ර අභිප්‍රේත
Name[sk]=Predvoľby Terminálu
Name[sl]=Nastavitve terminala
Name[sq]=Parapëlqime Terminali
Name[sr]=Поставке терминала
Name[sv]=Inställningar för Terminal
Name[te]=టెర్మినల్ ప్రాధాన్యతలు
Name[th]=ปรับแต่งเทอร์มินัล
Name[tr]=Uçbirim Tercihleri
Name[ug]=تېرمىنال تەڭشەكلىرى
Name[uk]=Параметри терміналу
Name[ur]=ٹرمنل ترجیحات
Name[ur_PK]=ٹرمنل ترجیحات
Name[vi]=Tùy chỉnh Terminal
Name[zh_CN]=终端首选项
Name[zh_TW]=終端機偏好設定
Exec=xfce4-terminal --preferences
