<!doctype html>
<html>
   <head>
      <title>Change Temperature</title>
      <link rel="stylesheet" href="css/style.css"/>
      <script src="js/jquery-2.2.4.min.js"></script>
      <style>
         .button {
             color: white; padding: 15px 32px; text-align: center;
             background-color: #4CAF50; border-radius: 15px; 
             text-decoration: none; display: inline-block; font-size: 22px;
         }
      </style>
   </head>

   <body>
     <div id="wrapper">
        <h2>Click the button to set the temperature to 99 &#8451</h2>
        <button class="button" id="change">Click</button>
     </div>

     <script src="./js/change.js"></script>
   </body>
</html>
