[Desktop Entry]
Version=1.0
Type=Application
Name=Xfce Terminal
Comment=Terminal Emulator
Exec=xfce4-terminal
Icon=utilities-terminal
Path=
Terminal=false
StartupNotify=true
