[Desktop Entry]
Version=1.0
Type=Application
Name=Wireshark
Comment=Network traffic analyzer
Exec=wireshark %f
Icon=wireshark
Path=
Terminal=false
StartupNotify=false
